langchain
langchain-community
langchain-core
langchain[openai]
langgraph
langchain-experimental
langfuse>=2.0.0
langchain-milvus>=0.1.5
langchain-huggingface
huggingface_hub
langchain_cohere
transformers
sentence-transformers
streamlit 
pypdf
rank_bm25
fastapi
uvicorn[standard]
sseclient
python-multipart